.TodoWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.todo-template {
  width: 512px;
  border-radius: 4px;
  overflow: hidden;
}
.app-title {
  background: #9c88ff;
  color: white;
  height: 4rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  background: white;
}
